1. Chat
1.1, Ne írd le sokszor ugyan azt! [Flood]
1.2, Ne káromkodj!
1.3, Ne kéregess! [Semmit!]
1.4, Ne fenyegess! [Se staffot se játékost!]
1.5, Ne parancsolgass!
1.6, Ne hirdess semmit!
1.7, Ne hazudj!
1.8, Ne szidd a szervert! [pl.: Lagg, Hosting stb...]
1.9, Ne kérd ki a konfigot,seedet vagy a pluginokat!
1.10, Ne írj folyamatosan nagybetűkkel [caps lock/shift]
1.11, Ne irkálj értelmetlen szimbólumokat, unicode karaktereket! [1-2 belefér]
 

2. Játékmenet
2.1, Ne lopj!
2.2, Ne rongálj!
2.3, Ne trollkodj!
2.4, Ne hackelj! (spam, adminhack, bot stb...)
2.5, Ne használj segéd programokat! [pl.: x-ray, fly stb...]
2.6, Cuccokért felelősséget nem vállalunk!
2.7, Exp farmnál ne AFK-olj!
2.8, Ne öld meg más állatait!!
2.9, Ne okozz másnak semmiféle anyagi kárt!
2.10, A világ letöltő mód tiltott szerveren, és kitiltás jár érte.
 
 

3. Admin/Staff
3.1, Tiszteld őket!
3.2, Használd a /helpop szöveg parancsot, ha problémád van! [Kéregetésre tilos használni!]
3.3, Ne zavard őket feleslegesen!
3.4, Ne kéregess tőlük!
 
 

4. Táj/Építés
4.1, Pulzár tilos! [folyamatosan mozgó vagy villogó redstone szerkezet!]
4.2, Ne másold le a szerveren lévő pályát és építményeket!
4.3, A tiltott szimbólumok építése tilos! [pl.: horogkereszt!]
4.4, Max. 30 tölcsér szigetenként!
4.5, A folyamatosan mozgó, meg nem álló csille tilos!
4.6, A Végben levő városok és hajók teljes elbontása tilos!
4.7, A Végben levő városok és hajók kifosztása kisajátítása szabad!
4.8, Ércblokkok lerakása engedélyezett. [Szint limit aktív.]
 


5. Felhasználók
5.1, Ne akard feltörni senkiét!
5.2, Ne lépj be más nevével!
5.3, Ne lopd más nevét!
5.4, Ne használj rasszista skint!
5.5, A jelszavad soha ne add ki senkinek!
5.6, Ne használj proxy szervereket!
5.7, 1 ember, csak 1 karaktert használhat!
 


6. Bugok/Hibák
6.1, Ne használd ki őket!
6.2, Ha találtál hibát jelezd felénk! [Online staffnak vagy GitHub-on] [[https://github.com/andris155/TheOld-Crafters]]
 


7. Támogatók
7.1, Piros, vörös, fekete szín tilos a névben!
7.2, Arénákban és eventeken tilos a god, fly!
7.3, A nevedben max 3 szín lehet!
7.4, A chatbe ne írjatok pirossal, vörössel vagy feketével!
7.5, Gyors repüléssel szigorúan tilos a világot generálni!

A szabályzatot szigorúan vesszük!
A szabályok nem ismerete nem mentesít a büntetés alól!
Egyedi esetekben szabályzatban nem említett cselekedetért is kaphattok büntetést!

Ha leállt a szerver, kérlek, kulturáltan jelezd valahol.!
Ha bugot vagy egyéb más hibát találsz a szerveren, kötelességed jelenteni egy Adminnak!!
