1. Chat
1.1, Ne írd le sokszor ugyan azt! [Flood]
1.2, Ne káromkodj!
1.3, Ne kéregess! [Semmit!]
1.4, Ne fenyegess! [Se admint se játékost!]
1.5, Ne parancsolgass!
1.6, Ne hirdess semmit!
1.7, Ne hazudj!
1.8, Ne szidd a szervert! [pl.: Lagg, Hosting stb…]
1.9, Ne kérd ki a konfigot, vagy a pluginokat!
1.10, Ne írj folyamatosan nagybetűkkel [caps lockal]
1.11, Ne irkálj értelmetlen szimbólumokat, unicode karaktereket! [1-2 belefér]

 

2. Játékmenet
2.1, Ne lopj!
2.2, Ne rongálj!
2.3, Ne trollkodj!
2.4, Ne hackelj! (spam, adminhack, bot stb…)
2.5, Ne használj segéd programokat! [pl.: x-ray, fly stb…]
2.6, Ne védd le más ajtaját, vagy cuccát!
2.7, Cuccokért felelősséget nem vállalunk!
2.8, Max. 35 élőlény lehet telkenként, vagy levédésenként!
2.9, Exp farmot kapcsoljátok ki, ha nem használjátok!
2.10, Ne öld meg más állatait!
2.11, Ne okozz másnak semmiféle anyagi kárt!
2.12, Mindig ültesd vissza a fákat!
2.13, A világ letöltő mód tiltott szerveren, és kitiltás jár érte.

 

3. Admin/Staff
3.1, Tiszteld őket!
3.2, Használd a /helpop szöveg parancsot, ha problémád van! [Kéregetésre tilos használni!]
3.3, Ne zavard őket feleslegesen!
3.4, Ne kéregess tőlük!

 

4. Táj/Építés
4.1, Ne építs 1×1-s oszlopokat!
4.2, Ne áss 1×1-s lyukakat!
4.3, Ne építs olyan építményt, ami rondítja a tájat!
4.4, Ne hagyd a levegőben a fa lombját!
4.5, A spawn és warpok közelébe ne építsetek!
4.6, Pulzár tilos! [folyamatosan mozgó vagy villogó redstone szerkezet!]
4.7, Ne másold le a szerveren lévő pályát és építményeket!
4.8, A tiltott szimbólumok építése tilos! [pl.: horogkereszt!]
4.9, Búza, nád, kaktusz [tövestül való] elcsenése tilos!
4.10, Ne építs máshoz túl közel!
4.11, Stronghold kisajátítása, teljes elbontása, megbontása tilos!
4.12, Stronghold kifosztása szabad
4.13, NPC faluk kisajátítása megengedett!
4.14, NPC faluk teljes elbontása TILOS!
4.15, Dzsungel, Sivatagi piramisok teljes elbontása tilos!
4.16, Dzsungel, Sivatagi piramisok kifosztása kisajátítása szabad
4.17, Max. 80 tölcsér lehet telkenként, vagy levédésenként!
4.18, A folyamatosan mozgó meg nem álló csille tilos!
4.19, A Végben levő városok és hajók teljes elbontása tilos!
4.20, A Végben levő városok és hajók kifosztása kisajátítása szabad!

 

5. Felhasználók
5.1, Ne akard feltörni senkiét!
5.2, Ne lépj be más nevével!
5.3, Ne lopd más nevét!
5.4, Ne használj rasszista skint!
5.5, A jelszavad soha ne add ki senkinek!
5.6, Ne használj proxy szervereket!
5.7, 1 ember, csak 1 karaktert használhat!

 

6. Bugok/Hibák
6.1, Ne használd ki őket!
6.2, Ha találtál hibát jelezd felénk! [Online staffnak vagy GitHub-on]

7. Támogatók
7.1, Piros, fekete tilos a névben!
7.2, Arénákban és eventeken tilos a god, fly, kreatív!
7.3, A nevedben max 3 szín lehet!
7.4, A chatbe ne írjatok pirossal vagy feketével!
7.5, Gyors repüléssel szigorúan tilos a világot generálni!!!
7.6, Túlélő módban lévő játékosnak csak jó okkal, vagy pénzért lehet építeni, kreatívban!
7.7, A kreatív módból tilos átvinni cuccokat a túlélő módba!

A szabályzatot szigorúan vesszük!
A szabályok nem ismerete nem mentesít a büntetés alól!
Egyedi esetekben szabályzatban nem említett cselekedetért is kaphattok büntetést!

Ha leállt a szerver, kérlek, kulturáltan jelezd valahol.!
Ha bugot vagy egyéb más hibát találsz a szerveren, kötelességed jelenteni egy Adminnak!!
